# FIXME: source_env_if_exists $HOME/.envrc
source_env `expand_path ~/.envrc`
export FLUTTER_ROOT="$(asdf where flutter)"
export CXX=/usr/lib/llvm-6.0/bin/clang

PATH_add $(dirname `asdf which flutter`)
# TODO: PATH_add "$(asdf where nodejs)/bin"
