main {
  margin-block-start: 1rem;
}

h1 {
  margin-block: 1rem;
}

.empty i.icon {
  font-size: 4.5rem;
  padding: 1rem;
  will-change: filter;
  transition: filter 300ms;

  :hover {
    filter: drop-shadow(0 0 2em var(--amethyst));

    .solid {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }
}

.card {
  padding-block: 1.75rem;
  padding-inline: 1.5rem;

  button ~ p {
    margin-block-start: 0.75rem;

    &:last-child {
      margin-block-end: 0;
    }
  }

  & ~ * {
    margin-block-start: 1rem;
  }
}

form div.input {
  &:not(:has(.form-text:last-child)) {
    margin-block-end: 0.75rem;
  }

  * ~ p.form-text {
    margin-block-start: 0.5rem;
    margin-block-end: 0rem;
  }
}
